<section id="contact">
	<h2><i class="icon-envelope-alt"></i> Contact</h2>
	<div id="map"></div>
	<address class="vcard">
		<div class="n">
			<span class="given-name">Steve</span>
			<span class="family-name">Grosbois</span>
		</div>
		<div class="title">d&eacute;veloppeur web et mobile</div>
		<ul class="unstyled">
			<li><i class="icon-home"></i> <a class="url" href="http://www.steve-grosbois.com">steve-grosbois.com</a></li>
			<li><i class="icon-envelope"></i> <a class="email" href="mailto:steve.grosbois@gmail.com">steve.grosbois@gmail.com</a></li>
			<li><i class="icon-skype"></i> <a class="url" href="skype:steve.grosbois?call">steve.grosbois</a></li>
			<li><i class="icon-phone"></i> <a class="tel" href="tel:+33682923572">06.82.92.35.72</a></li>
		</ul>
		<div class="adr">
			<span class="locality">Angers</span>, <span class="country-name">France</span>
		</div>
	</address>
</section>